
* {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;

}

h2 {
    color:#3C3C3C;
    font-weight:500;
}

h3 {
    font-size:14px;
    color:#747474;
    font-weight:400;  
    font-style: italic;  
}

p {
    font-size: 16px;
    color:#3C3C3C;
    font-weight:300;
}

.title {
    font-size: 50px;
    text-align: center;
}

.small_title {
    font-size: 30px;
    text-align: center;
}

.right_aligned {
    text-align:right
}

.countries_high_case {
    color: #234EA0;
    font-style: italic;  
    font-weight:500;
}

.countries_low_case {
    color: #35B256;
    font-style: italic;  
    font-weight:500;
}

.first_word {
    color: black;
    font-style: bold;  
    font-weight:500; 
    font-size: 20px;   
}

.italic_bold {
    font-style: italic;  
    font-weight:500;
}

